@font-face {
  font-family: "ITCAvantGarde-book";
  src: url("../fonts/ITCAvantGardeStd-Bk.otf");
}
@font-face {
  font-family: "ITCAvantGarde-book-cd";
  src: url("../fonts/ITCAvantGardeStd-BkCn.otf");
}
@font-face {
  font-family: "ITCAvantGarde-bold";
  src: url("../fonts/ITCAvantGardeStd-Bold.otf");
  font-weight: 900;
}
@font-face {
  font-family: "ITCAvantGarde-bold-cd";
  src: url("../fonts/ITCAvantGardeStd-BoldCn.otf");
  font-weight: 900;
}
@font-face {
  font-family: "ITCAvantGarde-demiObl";
  src: url("../fonts/ITCAvantGardeStd-DemiObl.otf");
}
@font-face {
  font-family: "ITCAvantGarde-md";
  src: url("../fonts/ITCAvantGardeStd-Md.otf");
  font-weight: 500;
}
@font-face {
  font-family: "ITCAvantGarde-mdobl";
  src: url("../fonts/ITCAvantGardeStd-MdObl.otf");
}
