/*************************
******
Mobile Nav
******
**************************/
#mob-ul li a,
#desktop-nav a {
  font-family: "Roboto", "Montserrat";
}

.top-mob-hero {
  position: relative;
}

.flex-center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
#burger {
  position: absolute;
  top: 40px; /*Container height is 110px */
  right: 7.5%;
  z-index: 5;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

#mob-nav {
  margin: 0;
  background-color: rgba(000, 000, 000, 0.9);
  position: fixed;
  top: 0;
  z-index: 4;
  text-align: center;
  font-size: 28px;
  padding: 0;
  -webkit-transition: height 0.4s;
  -o-transition: height 0.4s;
  transition: height 0.4s;
  height: 0;
  width: 100%;
}

.nav-container {
  height: 110px;
  background-color: #82564c;
  width: 100%;
}

#mob-ul {
  -webkit-transition: height 0.6s;
  -o-transition: height 0.6s;
  transition: height 0.6s;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
}

#mob-ul li {
  padding: 15px 0;
}
#mob-ul li a {
  text-decoration: none;
  color: #eab766;
  font-weight: 400;
}
#mob-ul a:hover {
  font-weight: 700;
}
.open-nav {
  width: 100%;
  height: 100% !important;
}
#desktop-nav {
  display: none;
}

.nav-brand {
  position: absolute;
  top: 15px;
  left: 7.5%;
  height: 80px;
  width: 92px;
}

@media only screen and (min-width: 750px) {
  .nav-brand {
    width: 10%;
    left: 5%;
  }

  #burger {
    right: 5%;
  }
}
@media only screen and (min-width: 880px) {
  #burger {
    display: none;
  }
  .nav-brand {
    left: 5%;
    width: 130px;
    height: 110px;
  }
  #desktop-nav {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    top: 85px; /*nav brand heght 110px / 2 = 55px + top spaceing 30px = 85px */
    right: 5%;
  }

  #desktop-nav > a {
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding-left: 30px;
    width: 100%;
  }
  #desktop-nav > a:hover {
    font-weight: 700;
    color: #eab766;
  }
}
